@model ProjectManagementSystem.Models.DAL.User
@{
    ViewBag.Title = "ManageUser";
}
<style type="text/css">
    .highlight {
        background-color: dimgrey;
    }
    .table-fixed {
        height: 200px;
        overflow-y: auto;
        width: 100%;
        margin-top:10px;
    }
    #row1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #column1 {
        display: flex;
        flex-direction: column;
    }


    #column2 {
        display: flex;
        flex-direction: column;
    }
</style>

<div id="row1">
    <div id="column1" class="col-md-6 row">
        <h2>Add/Update User</h2>
        @using (Html.BeginForm("ManageUser", "Home", new { userName = ViewBag.UserName, uid = ViewBag.UserID, status = ViewBag.Status, designation = ViewBag.Designation }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">
                <label>Name:</label>
                @Html.TextBoxFor(m => m.vName, new { @class = "form-control", placeholder = "Name", required = "required", id = "name" })
            </div>
            <div class="form-group">
                <label>Email:</label>
                @Html.TextBoxFor(m => m.vEmail, new { @class = "form-control", placeholder = "Email", required = "required", id = "email" })
            </div>
            <div class="form-group">
                <label>Default Password:</label>
                @Html.PasswordFor(m => m.vPassword, new { @class = "form-control", placeholder = "Password", required = "required", id = "password" })
            </div>
            <div class="form-group">
                <label>Status:</label>
                @Html.RadioButtonFor(m => m.vStatus, "Active", new { id = "radio-active" }) Active
                @Html.RadioButtonFor(m => m.vStatus, "Inactive", new { id = "radio-inactive" }) Inactive
            </div>
            <div class="form-group">
                <label>Designation:</label>
                @Html.DropDownListFor(m => m.vDesignation,
        new SelectList(
        new List<object>
            {
            new { value = "Developer" , text = "Developer"  },
            new { value = "Project Manager" , text = "Project Manager" },
            new { value = "Team Lead" , text = "Team Lead"},
            new { value = "QA Engineer", text = "QA Engineer"},
            new { value = "UX Engineer" , text = "UX Engineer"},
            new { value = "IT-Admin" , text = "IT-Admin"}
            }, "value", "text", null), new { @class = "form-control", id = "designation" })
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-primary btn-md" />
            </div>
        }

    </div>
    <div id="column2" class="table-fixed">
        <table id="userDetails" class="table table-bordered table-responsive">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Designation</th>
                <th>Status</th>
                <th>Reset Password</th>
                <th style="display:none">ID</th>
                <th style="display:none">Password</th>
            </tr>
            @foreach (var item in ViewBag.UserDetails)
            {

                <tr class="tableData">
                    <td class="tableData">
                        @item.vName
                    </td>
                    <td class="tableData">
                        @item.vEmail
                    </td>
                    <td class="tableData">
                        @item.vDesignation
                    </td>
                    <td class="tableData">
                        @item.vStatus
                    </td>
                    <td class="tableData">
                        <a href="#" onClick="resetDefaultPassword('@item.vEmail');">Reset as Default</a>
                    </td>
                    <td class="tableData" style="display:none">
                        @item.iID
                    </td>
                    <td class="tableData" style="display:none">
                        @item.vPassword
                    </td>
                </tr>

            }

        </table>
    </div>
</div>

<script src="~/Scripts/jquery.2.1.1.min.js"></script>
<script type="text/javascript">
    function resetDefaultPassword(email){
        var formData = {
            'email': email 
        };
        $.ajax({
            url: "/Home/RestPassword",
            type: "post",
            data: formData,
            success: function(d) {
                alert("Password Reset Successful!");
            }
        });
    }
    $("tr.tableData").click(function () {
        var tableData = $(this).children("td").map(function () {
            $(this).closest("tr").siblings().removeClass("tableData highlight");
            $(this).parents("tr").toggleClass("tableData highlight", this.clicked);
            return $(this).text();
        }).get();

        document.getElementById("name").value = $.trim(tableData[0]);
        document.getElementById("email").value = $.trim(tableData[1]);
        document.getElementById("password").value = $.trim(tableData[6]);
        if ($.trim(tableData[3])=="Active") {
            $("#radio-active").prop("checked", true);
        }
        else {
            $("#radio-inactive").prop("checked", true);
        }
        var designationValue = $.trim(tableData[2]);
        $('#designation').val(designationValue);
    });
 
</script>
